
.fnenquete li{
	margin-bottom: 4px;
}

#img_new_enquete{
	
	max-width: 100%;
}

.nome_user{
	

	font-weight: bold;
	color: black;
	font-size: 18px;
}

#next{
	padding: 10px;
}

.data{
	color: black;
	font-size: 12px;
	margin-left: 55px;
}

.enquete img{
	margin-right: 10px;
	max-width: 100%;
}

.e_top{
	background-color:  #d9534f;

	padding-bottom: 3.2px;
	border-radius: 69px 69px 69px 69px;
	-moz-border-radius: 69px 69px 69px 69px;
	-webkit-border-radius: 69px 69px 69px 69px;
	border: 0px solid #000000;
}

.enquete .titulo{
	
	padding: 5px;
	font-size: 15px;
	color: black;
	margin: 10px;
}

/*.radio:hover{
	color: #d9534f;
	font-weight: bold;
	font-size: 16px;
}*/

.enquete label{
	 color: black;
}

.enquete{
	word-wrap: break-word;


	padding: 10px;
}

.enquete .bot{
	margin-top: 7px;
	text-align: center;
}

.enquete .radio {
	margin: 10px;
}

.enquete h4{
	color: black;
}

#myChart{

}