@CHARSET "UTF-8";

#mid{
	
	margin-left: 30px;
}

#profile{
	margin-left: 25px;
	color: black;
	font-weight: 900;
	
}

a{
	color: inherit;
}

#profile a:hover{
	text-decoration: none;
}
a:hover{
	color: inherit;
}

body{
	word-wrap: break-word;
	background-image:url('../images/pattern-6plj.png');
	font-family: Helvetica,Arial,sans-serif;
}

.well{
	background-color: white;
	margin-bottom: 0px;
}

#propor_btn{
	margin-right: 10px;
}

#feed > form{
	margin-bottom: 20px;
	word-wrap: break-word;
}

#comentario_input{
	
	
}

#bar{
	height: 10px;
}

#logo{
	height: 50px;
	margin-top: -14px;
}


#img_fiscalizar{
	text-align: center;
	border: 1px solid;
	max-width: 100%;
	margin-top: 20px;
}

.fiscalizacao_img{
	max-width: 95%;
	max-height: 420px;
	text-align: center;
	margin-bottom: 10px;
	margin-left: 11px;
}

.laike{
	display: inline;
	margin-left: 10px;
}

.laike div{
	display: inline;
}

.laike i{
	margin-right: 10px;
}

.laikou > i{
	color: green;
}

.opcoes_btns{
	margin-bottom: 20px;
}
